In [92]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\om raj pandey\anaconda3\lib\site-packages (4.5.0)
Requirement already satisfied: trio~=0.17 in c:\users\om raj pandey\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\om raj pandey\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\om raj pandey\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\om raj pandey\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: idna in c:\users\om raj pandey\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\users\om raj pandey\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\om raj pandey\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.0)
Requirement already satisfied: sortedcontainers in c:\users\om raj pandey\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\om raj pandey\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\om raj pandey\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\om raj pandey\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\om raj pandey\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: pycparser in c:\users\om raj pandey\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\om raj pandey\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\om raj pandey\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\om raj pandey\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

# ANS-1-A python program to scrape data for "Data Analyst" job position in "Banglore" location.

In [93]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [34]:
driver=webdriver.Chrome(r"C:\Users\OM RAJ PANDEY\Desktop\jupyter\chromedriver.exe")

In [35]:
#Let's maximize the automated chrome window
driver.maximize_window()

In [36]:
#opening up naukri.com website on automated chrome window
url='https://www.naukri.com/'
driver.get(url)

In [37]:
#finding web element for search job bar
search_job=driver.find_element(By.CLASS_NAME,"suggestor-input ")
search_job.send_keys("Data Analyst")

In [38]:
#finding web element for search Location
search_locn=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_locn.send_keys("Banglore")

In [39]:
search_btn=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search_btn.click()

In [40]:
#let's extract all web eliments having job titles
job_titles=[]
title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    job_titles.append(i.text)
len(job_titles)

10

In [41]:
job_titles

['Senior Data Analyst - PLM Data Migration',
 'Lead Data Analyst',
 'Sr. Data Analyst (SAS Data Management)',
 'Data Analyst',
 'Data Analyst',
 'Senior Data Analyst',
 'Sr Data Analyst',
 'Senior Analyst - Data Management',
 'Data Analyst - Python/Artificial Intelligence',
 'CONSULTANT - DATA ANALYST - CRM ERP']

In [42]:
company_names=[]
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company_names.append(i.text)
len(company_names)

10

In [43]:
experience=[]
exp_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 expwdth"]')
for i in exp_tags[0:10]:
    experience.append(i.text)
len(experience)

10

In [44]:
location=[]
locn_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
for i in locn_tags[0:10]:
    location.append(i.text)
len(location)

10

In [51]:
jobs=pd.DataFrame()
jobs['Job Title']=job_titles
jobs['Company']=company_names
jobs['Experience']=experience
jobs['Location']=location
jobs

,Job Title,Company,Experience,Location
0,Senior Data Analyst - PLM Data Migration,CGI,3-6 Yrs,Bangalore/Bengaluru
1,Lead Data Analyst,Mobile Premier League (MPL),4-7 Yrs,Bangalore/Bengaluru
2,Sr. Data Analyst (SAS Data Management),NMS Consultant,5-10 Yrs,"New Delhi, Bangalore/Bengaluru"
3,Data Analyst,IBM,3-4 Yrs,Bangalore/Bengaluru
4,Data Analyst,IBM,3-4 Yrs,Bangalore/Bengaluru
5,Senior Data Analyst,Groundtruth,5-8 Yrs,"Hybrid - Gurgaon/Gurugram, Bangalore/Bengaluru"
6,Sr Data Analyst,Mettox Laboratries,3-8 Yrs,Bangalore/Bengaluru
7,Senior Analyst - Data Management,Accenture,5-8 Yrs,Bangalore/Bengaluru
8,Data Analyst - Python/Artificial Intelligence,iMindYourBusiness,0-2 Yrs,"Kolkata, Mumbai, Visakhapatnam, Hyderabad/Secu..."
9,CONSULTANT - DATA ANALYST - CRM ERP,Pratham Books,14-20 Yrs,Bangalore/Bengaluru

In [52]:
driver.close()

# ANS-2-A python program to scrape data for "Data Scientist " job position in "Banglore" location.

In [53]:
driver=webdriver.Chrome(r"C:\Users\OM RAJ PANDEY\Desktop\jupyter\chromedriver.exe")

In [54]:
#let's maximize the automated chrome window
driver.maximize_window()

In [55]:
#Opening up naukri.com website on automated chrome window
url='https://www.naukri.com/'
driver.get(url)

In [56]:
search_job=driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys("Data Scientist")

In [57]:
#finding web element for search Location
search_locn=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_locn.send_keys("Banglore")

In [59]:
search_btn=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search_btn.click()

In [61]:
#let's extract all web elements having job titles
job_titles=[]
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    job_titles.append(i.text)
len(job_titles)

10

In [62]:
#let's extract all web elements having location
location=[]
locn_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
for i in locn_tags[0:10]:
    location.append(i.text)
len(location)

10

In [63]:
#let's extract all web elements having company names
company_names=[]
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company_names.append(i.text)
len(company_names)

10

In [64]:
jobs=pd.DataFrame()
jobs['Job Title']=job_titles
jobs['Company']=company_names
jobs['Location']=location
jobs

,Job Title,Company,Location
0,Analystics & Modeling Specialist,Accenture,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,..."
1,Senior Data Scientist,Wipro,"Hybrid - Pune, Chennai, Bangalore/Bengaluru"
2,Data Scientist - Looking For Immediate Joiners,Wipro,"Hybrid - Hyderabad/Secunderabad, Bangalore/Ben..."
3,Assistant Manager - Data Science,Citiustech,"Hybrid - Mumbai, Pune, Bangalore/Bengaluru"
4,Data Scientist,Altair,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo..."
5,ACN - Applied Intelligence - Data Scientist - 09,Accenture,Bangalore/Bengaluru
6,Data Scientist - 2,24 7 ai,Bangalore/Bengaluru
7,Data Scientist,HCLTech,"Noida, Hyderabad/Secunderabad, Chennai, Bangal..."
8,Senior Data Scientist,Boston Consulting Group,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru"
9,Data Scientist - II,Bizongo,"India, Bangalore/Bengaluru, Mumbai (All Areas)"

In [65]:
driver.close()

# ANS-3-A python program to scrap data using the filters available on the webpage

In [112]:
driver=webdriver.Chrome(r"C:\Users\OM RAJ PANDEY\Desktop\jupyter\chromedriver.exe")

In [113]:
#let's maximize the automated chrome window
driver.maximize_window()

In [114]:
#Opening up naukri.com website on automated chrome window
url='https://www.naukri.com/'
driver.get(url)

In [115]:
#finding web element for search job bar
search_job=driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys("Data Scientist")

In [116]:
#clicking using xpath function
search_btn=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search_btn.click()

In [119]:
#Applying location filter
Delhi_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]")
Delhi_btn.click()

In [120]:
Salary_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]")
Salary_btn.click()

In [122]:
#let's extract all web elements having job titles
job_titles=[]
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    job_titles.append(i.text)
len(job_titles)

10

In [123]:
#Extracting company names
company_names=[]
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company_names.append(i.text)
len(company_names)

10

In [124]:
#Extracting experience
experience=[]
exp_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 expwdth"]')
for i in exp_tags[0:10]:
    experience.append(i.text)
len(experience)

10

In [125]:
#Extracting location
location=[]
locn_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
for i in locn_tags[0:10]:
    location.append(i.text)
len(location)

10

In [126]:
jobs=pd.DataFrame()
jobs['Job Titles']=job_titles
jobs['Company']=company_names
jobs['Experience']=experience
jobs['Location']=location
jobs

,Job Titles,Company,Experience,Location
0,Data Scientist,HCLTech,4-9 Yrs,"Noida, Hyderabad/Secunderabad, Chennai, Bangal..."
1,DigitalBCG GAMMA Data Scientist,Boston Consulting Group,2-5 Yrs,"New Delhi, Bangalore/Bengaluru"
2,Urgent hiring For Data Scientist (PHD Must Have),NGI Ventures,0-4 Yrs,"Temp. WFH - Noida, Pune"
3,Manager - Data Science - Banking&Financial Ser...,Black Turtle,4-8 Yrs,"Delhi / NCR, Bangalore/Bengaluru"
4,Data Scientist,torcai digital media,2-7 Yrs,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru..."
5,Data Scientist,Meon Technologies,2-5 Yrs,Noida
6,Data Scientist,Alliance Recruitment Agency,3-4 Yrs,Noida
7,Data Specialist,RCPC,4-6 Yrs,Noida
8,Data scientist- Python,TeamPlus Staffing Solution Pvt Ltd,3-6 Yrs,Gurgaon/Gurugram
9,Data Scientist,Razor Group GmbH,2-3 Yrs,New Delhi

In [127]:
driver.close()

# ANS-4-A python program to scrape data of first 100 sunglasses listing on flipkart.com

In [171]:
driver=webdriver.Chrome(r"C:\Users\OM RAJ PANDEY\Desktop\jupyter\chromedriver.exe")

In [138]:
#let's maximize the automated chrome window
driver.maximize_window()

In [139]:
#Opening up flipkart.com website on automated chrome window
url='https://www.flipkart.com/'
driver.get(url)

In [140]:
#finding web element for search product bar
search_product=driver.find_element(By.CLASS_NAME,"_3704LK")
search_product.send_keys("Sunglasses")

In [142]:
#Clicking the search icon
search_btn=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search_btn.click()

In [143]:
brand=[]
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags:
    brand.append(i.text)
brand

['RESIST EYEWEAR',
 'ARICKS',
 'Fastrack',
 'PIRASO',
 'Fastrack',
 'VINCENT CHASE',
 'New Specs',
 'ROZZETTA CRAFT',
 'PIRASO',
 'Fastrack',
 'ARICKS',
 'ROZZETTA CRAFT',
 'Fastrack',
 'PIRASO',
 'VINCENT CHASE',
 'Sewell',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'PIRASO',
 'Fastrack',
 'Singco India',
 'PROVOGUE',
 'ROZZETTA CRAFT',
 'PIRASO',
 'GANSTA',
 'Fastrack',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'Elligator',
 'GANSTA',
 'SUNBEE',
 'Silver Kartz',
 'Elligator',
 'DEIXELS',
 'CRYSTAL CART',
 'PIRASO',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'SHAAH COLLECTIONS',
 'Anemone']

In [144]:
len(brand)

40

In [145]:
#product description
pro_des=[]
pro_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in pro_tags:
    pro_des.append(i.text)
len(pro_des)

40

In [146]:
#price
price=[]
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags:
    price.append(i.text)
len(price)

40

In [147]:
#discount
discount=[]
discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in discount_tags:
    discount.append(i.text)
len(discount)

40

In [153]:
#clicking next button
next_btn=driver.find_element(By.CLASS_NAME,"_1LKTO3")
next_btn.click()

In [155]:
brand2=[]
brand2_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand2_tags:
    brand2.append(i.text)
len(brand2)

40

In [157]:
#product description
pro2=[]
pro2_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in pro2_tags:
    pro2.append(i.text)
len(pro2)

40

In [158]:
#price description
price2=[]
price2_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price2_tags:
    price2.append(i.text)
len(price2)

40

In [159]:
#discount
dis2=[]
dis2_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in dis2_tags:
    dis2.append(i.text)
len(dis2)

40

In [165]:
#clicking next button
next_btn=driver.find_element(By.CLASS_NAME,"_1LKTO3")
next_btn.click()

In [166]:
#brand
brand3=[]
brand3_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand3_tags[0:20]:
    brand3.append(i.text)
len(brand3)

20

In [167]:
#product description
pro3=[]
pro3_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in pro3_tags[0:20]:
    pro3.append(i.text)
len(pro3)

20

In [168]:
#price
price3=[]
price3_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price3_tags[0:20]:
    price3.append(i.text)
len(price3)

20

In [169]:
#discount
dis3=[]
dis3_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in dis3_tags[0:20]:
    dis3.append(i.text)
len(dis3)

20

In [172]:
driver.close()

# ANS-5-Desired webpage is deleted

# ANS-6-Scrape data for first 100 sneakers on flipkart.com

In [173]:
#let's first connect to web driver
driver=webdriver.Chrome(r"C:\Users\OM RAJ PANDEY\Desktop\jupyter\chromedriver.exe")

In [174]:
#let's maximize the automated chrome window
driver.maximize_window()

In [175]:
#Opening up flipkart.com website on automated chrome window
url='https://www.flipkart.com/'
driver.get(url)

In [176]:
#finding web element for search product bar
search_product=driver.find_element(By.CLASS_NAME,"_3704LK")
search_product.send_keys("Sneakers")

In [177]:
#Clicking the search icon
search_btn=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search_btn.click()

In [178]:
brand=[]
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags:
    brand.append(i.text)
brand

['BIRDE',
 'BIRDE',
 'RED TAPE',
 'RED TAPE',
 'Labbin',
 'TR',
 'TR',
 'BIRDE',
 'BIRDE',
 'Robbie jones',
 'Zixer',
 'Kraasa',
 'BRUTON',
 'Kraasa',
 'PUMA',
 'Magnolia',
 'Zixer',
 'Zixer',
 'Robbie jones',
 'Deals4you',
 'PUMA',
 'DRESTA',
 'BRUTON',
 'World Wear Footwear',
 'SCATCHITE',
 'BRUTON',
 'DRESTA',
 'GVR',
 'T-ROCK',
 'asics',
 'PUMA',
 'asian',
 'ASTEROID',
 'RapidBox',
 'PUMA',
 'BRUTON',
 'PUMA',
 'PUMA',
 'Sparx',
 'DUCATI']

In [179]:
len(brand)

40

In [180]:
#product description
pro_des=[]
pro_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in pro_tags:
    pro_des.append(i.text)
len(pro_des)

39

In [181]:
#price
price=[]
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags:
    price.append(i.text)
len(price)

40

In [182]:
#discount
discount=[]
discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in discount_tags:
    discount.append(i.text)
len(discount)

40

In [183]:
#clicking next button
next_btn=driver.find_element(By.CLASS_NAME,"_1LKTO3")
next_btn.click()

In [184]:
brand2=[]
brand2_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand2_tags:
    brand2.append(i.text)
len(brand2)

40

In [185]:
#product description
pro2=[]
pro2_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in pro2_tags:
    pro2.append(i.text)
len(pro2)

40

In [186]:
#price description
price2=[]
price2_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price2_tags:
    price2.append(i.text)
len(price2)

40

In [187]:
#discount
dis2=[]
dis2_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in dis2_tags:
    dis2.append(i.text)
len(dis2)

40

In [188]:
#clicking next button
next_btn=driver.find_element(By.CLASS_NAME,"_1LKTO3")
next_btn.click()

In [189]:
#brand
brand3=[]
brand3_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand3_tags[0:20]:
    brand3.append(i.text)
len(brand3)

20

In [190]:
#product description
pro3=[]
pro3_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"="IRpwTa"]')
for i in pro3_tags[0:20]:
    pro3.append(i.text)
len(pro3)

20

In [191]:
#price
price3=[]
price3_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price3_tags[0:20]:
    price3.append(i.text)
len(price3)

20

In [192]:
#discount
dis3=[]
dis3_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in dis3_tags[0:20]:
    dis3.append(i.text)
len(dis3)

20

In [193]:
driver.close()

# ANS-7-Python program to scrape shoes data from myntra.com

In [194]:
driver=webdriver.Chrome(r"C:\Users\OM RAJ PANDEY\Desktop\jupyter\chromedriver.exe")

In [195]:
#let's maximize the automated chrome window
driver.maximize_window()

In [196]:
#Opening up myntra.com website on automated chrome window
url='https://www.myntra.com/shoes'
driver.get(url)

# Inspect and cntrl+shift+c both method for finding the class name are not working

In [198]:
driver.close()

# ANS-8-A python program to scrape laptop's data fro amazon website.

In [206]:
driver=webdriver.Chrome(r"C:\Users\OM RAJ PANDEY\Desktop\jupyter\chromedriver.exe")

In [208]:
#let's maximize the automated chrome window
driver.maximize_window()

In [209]:
#Opening up amazon website on automated chrome window
url='https://www.amazon.in/'
driver.get(url)

In [212]:
#finding web element for search job bar
search_job=driver.find_element(By.XPATH,'//input[@class="nav-input nav-progressive-attribute"]')
search_job.send_keys("Laptop")

In [214]:
#clicking the search button
search_btn=driver.find_element(By.XPATH,'//span[@class="nav-search-submit-text nav-sprite nav-progressive-attribute"]')
search_btn.click()

In [215]:
#Appy cpu filter
cpu_btn=driver.find_element(By.XPATH,'//span[@class="a-size-base a-color-base"]')
cpu_btn.click()

In [225]:
#Extracting title 1
title_1=[]
title_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags[0:10]:
    title_1.append(i.text)
title_1

['HP Pavilion x360 11th Gen Intel Core i7 14 inch(35.6 cm) FHD,IPS, Multitouch 2-in-1 Laptop(16GB RAM/512GB SSD/Backlit KB/Intel Iris Xe Graphics/Pen/Alexa Built-in/MSO/1.52Kg) 14-dy1050TU, Spruce Blue',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm) FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH',
 'ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Plus Graphics/Windows 11/Office 2021/Silver/1.8 kg), X515JA-EJ701WS',
 'Dell Inspiron 5320 Laptop, i7-1260P, 16GB LPDDR5, 512GB SSD, Integrated, 13.3" (33.78Cms) QHD+ WVA AG 300 nits, Win 11+ MSO\'21, Platinum Silver (D560754WIN9S, 1.25Kgs)',
 'Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 15.6"(39.62cm) FHD IPS Laptop (16GB/512GB SSD/Win 11/Office 2021/Backlit KB/Fingerprint/FHD Camera/Alexa/3 Month Game Pass/Storm Grey/1.85Kg), 82SF004XIN',
 '(Renewed) HP ProBook 430 G3 6th Gen Intel Core i7 Thin & Light HD Laptop (8 GB DDR4 RAM/256 GB SSD/13.3" (33.8 cm)/Windows 11/MS Office/Wifi/Bluetooth 4.0/Webcam/Integrated Graphics)',
 'HP Pavilion Plus, 12th Gen Intel Core i7 16GB RAM/1TB SSD 14 inch(35.6 cm),OLED,400 nits,UWVA, Eye Safe Laptop/Intel Iris Xe Graphics/Backlit KB/B&O/FPR/Win 11/Alexa Built-in/MSO 2021, 14-eh0024TU',
 'Acer Nitro 5 Gaming Laptop/12th Gen Intel Core i7-12700H Processor 14core/15.6"(39.6cm) FHD 144Hz Display(16GB/512GB SSD/1TB HDD/RTX 3050Ti Graphics/Windows 11/RGB),AN515-58 + Xbox Game Pass Ultimate',
 '(Renewed) HP Workstation Zbook Intel Core i7-4810MQ Quad Core Processor , 4 GB Ram & 128 GB SSD, 15.6 Inches with Intel & Nvidia K2100M Dual Graphics with FHD Screen 1080p Laptop Computer',
 '(Renewed) HP ProBook 430 G3 6th Gen Intel Core i7 Thin & Light HD Laptop (8 GB DDR4 RAM/500 GB HDD/13.3" (33.8 cm)/Windows 11/MS Office/Wifi/Bluetooth 4.0/Webcam/Integrated Graphics)']

In [226]:
len(title_1)

10

In [223]:
#Extracting rating
rating_1=[]
rating_tags=driver.find_elements(By.XPATH,'//I[@class="a-icon a-icon-star-small a-star-small-4-5 aok-align-bottom"]')
for i in rating_tags[0:10]:
    rating.append(i.text)
rating

['', '', '', '']

In [224]:
#price
price_1=[]
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    price_1.append(i.text)
price_1

['80,990',
 '77,500',
 '84,918',
 '83,990',
 '25,895',
 '93,999',
 '1,04,819',
 '21,990',
 '22,999',
 '25,990']

In [227]:
driver.close()

# ANS-9-A python program to scrape data for top 1000 quotes.

In [237]:
driver=webdriver.Chrome(r"C:\Users\OM RAJ PANDEY\Desktop\jupyter\chromedriver.exe")

In [238]:
#let's maximize the automated chrome window
driver.maximize_window()

In [239]:
#Opening up azquotes website on automated chrome window
url='https://www.azquotes.com/'
driver.get(url)

In [244]:
#extracting quotes
quotes=[]
quotes_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quotes_tags:
    quotes.append(i.text)
len(quotes)

100

In [245]:
#author
author=[]
author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags:
    author.append(i.text)
len(author)

100

In [246]:
#type
type1=[]
type1_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in type1_tags:
    type1.append(i.text)
len(type1)

100

In [247]:
#quotes
quotes2=[]
quotes2_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quotes2_tags:
    quotes2.append(i.text)
len(quotes2)

100

In [248]:
#author
author2=[]
author2_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author2_tags:
    author2.append(i.text)
len(author2)

100

In [249]:
#type
type2=[]
type2_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in type2_tags:
    type2.append(i.text)
len(type2)

100

In [250]:
#quotes
quotes3=[]
quotes3_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quotes3_tags:
    quotes3.append(i.text)
len(quotes3)

100

In [251]:
#author
author3=[]
author3_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author3_tags:
    author3.append(i.text)
len(author3)

100

In [252]:
#type
type3=[]
type3_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in type3_tags:
    type3.append(i.text)
len(type3)

100

In [253]:
#quotes
quotes4=[]
quotes4_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quotes4_tags:
    quotes4.append(i.text)
len(quotes4)

100

In [254]:
#author
author4=[]
author4_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author4_tags:
    author4.append(i.text)
len(author4)

100

In [255]:
#type
type4=[]
type4_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in type4_tags:
    type4.append(i.text)
len(type4)

100

In [259]:
#quotes
quotes5=[]
quotes5_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quotes5_tags:
    quotes5.append(i.text)
len(quotes5)

100

In [260]:
#author
author5=[]
author5_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author5_tags:
    author5.append(i.text)
len(author5)

100

In [261]:
#type
type5=[]
type5_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in type5_tags:
    type5.append(i.text)
len(type5)

100

In [262]:
#quotes
quotes6=[]
quotes6_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quotes6_tags:
    quotes6.append(i.text)
len(quotes6)

100

In [263]:
#author
author6=[]
author6_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author6_tags:
    author6.append(i.text)
len(author6)

100

In [264]:
#type
type6=[]
type6_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in type6_tags:
    type6.append(i.text)
len(type6)

100

In [265]:
#quotes
quotes7=[]
quotes7_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quotes7_tags:
    quotes7.append(i.text)
len(quotes7)

100

In [266]:
#author
author7=[]
author7_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author7_tags:
    author7.append(i.text)
len(author7)

100

In [267]:
#type
type7=[]
type7_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in type7_tags:
    type7.append(i.text)
len(type7)

100

In [268]:
#quotes
quotes8=[]
quotes8_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quotes8_tags:
    quotes8.append(i.text)
len(quotes8)

100

In [269]:
#author
author8=[]
author8_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author8_tags:
    author8.append(i.text)
len(author8)

100

In [270]:
#type
type8=[]
type8_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in type8_tags:
    type8.append(i.text)
len(type8)

100

In [271]:
#quotes
quotes9=[]
quotes9_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quotes9_tags:
    quotes9.append(i.text)
len(quotes9)

100

In [272]:
#author
author9=[]
author9_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author9_tags:
    author9.append(i.text)
len(author9)

100

In [274]:
#type
type9=[]
type9_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in type9_tags:
    type9.append(i.text)
len(type9)

100

In [275]:
#quotes
quotes10=[]
quotes10_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quotes10_tags:
    quotes10.append(i.text)
len(quotes10)

100

In [276]:
#author
author10=[]
author10_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author10_tags:
    author10.append(i.text)
len(author10)

100

In [277]:
#type
type10=[]
type10_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in type10_tags:
    type10.append(i.text)
len(type10)

100

In [278]:
driver.close()

# ANS-10-A python program to display list of former Prime Minister of India.

In [279]:
driver=webdriver.Chrome(r"C:\Users\OM RAJ PANDEY\Desktop\jupyter\chromedriver.exe")

In [280]:
#let's maximize the automated chrome window
driver.maximize_window()

In [282]:
#Opening up jagranjosh.com website on automated chrome window
url='https://www.jagranjosh.com/'
driver.get(url)

In [284]:
#Name
name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[2]/td[2]/p/strong/a')
for i in name_tags:
    name.append(i.text)
name

['Jawahar Lal Nehru']

In [285]:
#born-dead
bd=[]
bd_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[2]/td[3]/p')
for i in bd_tags:
    bd.append(i.text)
bd

['(18891964)']

In [286]:
#Term of office
to=[]
to_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[2]/td[4]/p[1]/span')
for i in to_tags:
    to.append(i.text)
to

['15 August 1947 to 27 May 1964']

In [287]:
#Remarks
re=[]
re_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[2]/td[5]/p')
for i in re_tags:
    re.append(i.text)
re

['The first prime minister of India and the longest-serving PM of India, the first to die in office.']

In [288]:
#Name
name2=[]
name2_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[3]/td[2]/p')
for i in name2_tags:
    name2.append(i.text)
name2

['Gulzarilal Nanda (Acting)']

In [289]:
#born-dead
bd=[]
bd_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[3]/td[3]/p')
for i in bd_tags:
    bd.append(i.text)
bd

['(1898-1998)']

In [290]:
#Term of office
to=[]
to_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[3]/td[4]/p[1]/span')
for i in to_tags:
    to.append(i.text)
to

['27 May 1964 to 9 June 1964,']

In [291]:
#Remarks
re=[]
re_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[3]/td[5]/p')
for i in re_tags:
    re.append(i.text)
re

['First acting PM of India']

In [292]:
#Name
name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[4]/td[2]/p')
for i in name_tags:
    name.append(i.text)
name

['Lal Bahadur Shastri']

In [293]:
#born-dead
bd=[]
bd_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[4]/td[3]/p')
for i in bd_tags:
    bd.append(i.text)
bd

['(19041966)']

In [294]:
#Term of office
to=[]
to_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[4]/td[4]/p[1]')
for i in to_tags:
    to.append(i.text)
to

['9 June 1964 to 11 January 1966']

In [295]:
#Remarks
re=[]
re_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[4]/td[5]/p')
for i in re_tags:
    re.append(i.text)
re

["He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965"]

In [296]:
#Name
name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[5]/td[2]/p')
for i in name_tags:
    name.append(i.text)
name

['Gulzari Lal Nanda  (Acting)']

In [297]:
#born-dead
bd=[]
bd_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[5]/td[3]/p')
for i in bd_tags:
    bd.append(i.text)
bd

['(1898-1998)']

In [298]:
#Term of office
to=[]
to_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[5]/td[4]/p[1]')
for i in to_tags:
    to.append(i.text)
to

['11 January 1966 to 24 January 1966']

In [299]:
#Name
name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[6]/td[2]/p/strong/a')
for i in name_tags:
    name.append(i.text)
name

['Indira Gandhi']

In [300]:
#born-dead
bd=[]
bd_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[6]/td[3]/p')
for i in bd_tags:
    bd.append(i.text)
bd

['(19171984)']

In [301]:
#Term of office
to=[]
to_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[6]/td[4]/p[1]/span')
for i in to_tags:
    to.append(i.text)
to

['24 January 1966 to 24 March 1977']

In [302]:
#Remarks
re=[]
re_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[6]/td[5]/p')
for i in re_tags:
    re.append(i.text)
re

['First female Prime Minister of India']

In [303]:
#Name
name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[7]/td[2]/p')
for i in name_tags:
    name.append(i.text)
name

['Morarji Desai']

In [304]:
#born-dead
bd=[]
bd_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[7]/td[3]/p')
for i in bd_tags:
    bd.append(i.text)
bd

['(18961995)']

In [305]:
#Term of office
to=[]
to_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[7]/td[4]/p[1]/span')
for i in to_tags:
    to.append(i.text)
to

['24 March 1977 to  28 July 1979 ']

In [306]:
#Remarks
re=[]
re_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[7]/td[5]/p')
for i in re_tags:
    re.append(i.text)
re

['Oldest to become PM (81 years old) and first to resign from office']

In [307]:
#Name
name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[8]/td[2]/p')
for i in name_tags:
    name.append(i.text)
name

['Charan Singh']

In [308]:
#born-dead
bd=[]
bd_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[8]/td[3]/p')
for i in bd_tags:
    bd.append(i.text)
bd

['(19021987)']

In [309]:
#Term of office
to=[]
to_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[8]/td[4]/p[1]/span')
for i in to_tags:
    to.append(i.text)
to

['28 July 1979 to 14 January 1980']

In [310]:
#Remarks
re=[]
re_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[8]/td[5]/p')
for i in re_tags:
    re.append(i.text)
re

['Only PM who did not face the Parliament']

In [311]:
#Name
name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[9]/td[2]/p/strong/a')
for i in name_tags:
    name.append(i.text)
name

['Indira Gandhi']

In [312]:
#born-dead
bd=[]
bd_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[9]/td[3]/p')
for i in bd_tags:
    bd.append(i.text)
bd

['(19171984)']

In [313]:
#Term of office
to=[]
to_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[9]/td[4]/p[1]')
for i in to_tags:
    to.append(i.text)
to

['14 January 1980 to 31 October 1984']

In [314]:
#Remarks
re=[]
re_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[9]/td[5]/p')
for i in re_tags:
    re.append(i.text)
re

['The first lady who served as PM for the second term']

In [316]:
#Name

name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[10]/td[2]/p/a/strong')
for i in name_tags:
    name.append(i.text)
name

['Rajiv Gandhi']

In [317]:
#born-dead
bd=[]
bd_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[10]/td[3]/p')
for i in bd_tags:
    bd.append(i.text)
bd

['(19441991)']

In [318]:
#Term of office
to=[]
to_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[10]/td[4]/p[1]/span')
for i in to_tags:
    to.append(i.text)
to

['31 October 1984 to 2 December 1989']

In [319]:
#Remarks
re=[]
re_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[10]/td[5]/p')
for i in re_tags:
    re.append(i.text)
re

['Youngest to become PM (40 years old)']

In [320]:
#Name
name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[11]/td[2]/p')
for i in name_tags:
    name.append(i.text)
name

['V. P. Singh']

In [321]:
#born-dead
bd=[]
bd_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[11]/td[3]/p')
for i in bd_tags:
    bd.append(i.text)
bd

['(19312008)']

In [322]:
#Term of office
to=[]
to_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[11]/td[4]/p[1]/span')
for i in to_tags:
    to.append(i.text)
to

['2 December 1989 to 10 November 1990']

In [323]:
#Remarks
re=[]
re_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[11]/td[5]/p')
for i in re_tags:
    re.append(i.text)
re

['First PM to step down after a vote of no confidence']

In [324]:
#Name
name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[12]/td[2]/p/strong/a')
for i in name_tags:
    name.append(i.text)
name

['Chandra Shekhar']

In [325]:
#born-dead
bd=[]
bd_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[12]/td[3]/p')
for i in bd_tags:
    bd.append(i.text)
bd

['(19272007)']

In [326]:
#Term of office
to=[]
to_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[12]/td[4]/p[1]/span')
for i in to_tags:
    to.append(i.text)
to

['10 November 1990 to 21 June 1991']

In [327]:
#Remarks
re=[]
re_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[12]/td[5]/p')
for i in re_tags:
    re.append(i.text)
re

['He belongs to  Samajwadi Janata Party']

In [328]:
#Name
name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[13]/td[2]/p')
for i in name_tags:
    name.append(i.text)
name

['P. V. Narasimha Rao']

In [329]:
#born-dead
bd=[]
bd_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[13]/td[3]/p')
for i in bd_tags:
    bd.append(i.text)
bd

['(19212004)']

In [330]:
#Term of office
to=[]
to_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[13]/td[4]/p[1]/span')
for i in to_tags:
    to.append(i.text)
to

['21 June 1991 to 16 May 1996']

In [331]:
#Remarks
re=[]
re_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[13]/td[5]/p')
for i in re_tags:
    re.append(i.text)
re

['First PM from south India']

In [332]:
#Name
name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[14]/td[2]/p/strong/a')
for i in name_tags:
    name.append(i.text)
name

['Atal Bihari Vajpayee']

In [333]:
#born-dead
bd=[]
bd_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[14]/td[3]/p')
for i in bd_tags:
    bd.append(i.text)
bd

['(1924- 2018)']

In [334]:
#Term of office
to=[]
to_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[14]/td[4]/p[1]/span')
for i in to_tags:
    to.append(i.text)
to

['16 May 1996 to 1 June 1996']

In [335]:
#Remarks
re=[]
re_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[14]/td[5]/p')
for i in re_tags:
    re.append(i.text)
re

['PM for shortest tenure']

In [336]:
#Name
name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[15]/td[2]/p')
for i in name_tags:
    name.append(i.text)
name

['H. D. Deve Gowda']

In [337]:
#born-dead
bd=[]
bd_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[15]/td[3]/p')
for i in bd_tags:
    bd.append(i.text)
bd

['(born 1933)']

In [338]:
#Term of office
to=[]
to_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[15]/td[4]/p[1]/span')
for i in to_tags:
    to.append(i.text)
to

['1 June 1996 to 21 April 1997']

In [339]:
#Remarks
re=[]
re_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[15]/td[5]/p')
for i in re_tags:
    re.append(i.text)
re

['He belongs to  Janata Dal']

In [340]:
#Name
name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[16]/td[2]/p')
for i in name_tags:
    name.append(i.text)
name

['Inder Kumar Gujral']

In [341]:
#born-dead
bd=[]
bd_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[16]/td[3]/p')
for i in bd_tags:
    bd.append(i.text)
bd

['(19192012)']

In [342]:
#Term of office
to=[]
to_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[16]/td[4]/p[1]')
for i in to_tags:
    to.append(i.text)
to

['21 April 1997 to 19 March 1998 ']

In [343]:
#Remarks
re=[]
re_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[16]/td[5]/p')
for i in re_tags:
    re.append(i.text)
re

['------']

In [344]:
#Name
name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[17]/td[2]/p/a/strong')
for i in name_tags:
    name.append(i.text)
name

['Atal Bihari Vajpayee']

In [345]:
#born-dead
bd=[]
bd_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[17]/td[3]/p')
for i in bd_tags:
    bd.append(i.text)
bd

['(1924-2018)']

In [346]:
#Term of office
to=[]
to_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[17]/td[4]/p[1]/span')
for i in to_tags:
    to.append(i.text)
to

['19 March 1998 to 22 May 2004 ']

In [347]:
#Remarks
re=[]
re_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[17]/td[5]/p')
for i in re_tags:
    re.append(i.text)
re

[' The first non-congress PM who completed a full term as PM']

In [348]:
#Name
name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[18]/td[2]/p/strong/a')
for i in name_tags:
    name.append(i.text)
name

['Manmohan Singh']

In [349]:
#born-dead
bd=[]
bd_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[18]/td[3]/p')
for i in bd_tags:
    bd.append(i.text)
bd

['(born 1932)']

In [350]:
#Term of office
to=[]
to_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[18]/td[4]/p[1]/span')
for i in to_tags:
    to.append(i.text)
to

['22 May 2004 to 26 May 2014   ']

In [351]:
#Remarks
re=[]
re_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[18]/td[5]/p')
for i in re_tags:
    re.append(i.text)
re

[' First Sikh PM']

In [352]:
#Name
name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[19]/td[2]/p/a')
for i in name_tags:
    name.append(i.text)
name

['Narendra Modi']

In [353]:
#born-dead
bd=[]
bd_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[19]/td[3]/p')
for i in bd_tags:
    bd.append(i.text)
bd

['(born 1950)']

In [354]:
#Term of office
to=[]
to_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[19]/td[4]/p/span')
for i in to_tags:
    to.append(i.text)
to

['26 May 2014 - Present']

In [355]:
#Remarks
re=[]
re_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[19]/td[5]/p')
for i in re_tags:
    re.append(i.text)
re

['4th Prime Minister of India who served two consecutive tenures']

In [357]:
driver.close()

# ANS-11-A python program to display a list of 50 most expensive cars in the world.

In [358]:
driver=webdriver.Chrome(r"C:\Users\OM RAJ PANDEY\Desktop\jupyter\chromedriver.exe")

In [359]:
#let's maximize the automated chrome window
driver.maximize_window()

In [360]:
#Opening up motor1.com website on automated chrome window
url='https://www.motor1.com/'
driver.get(url)

In [362]:
menu_btn=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div[1]/div')
menu_btn.click()

In [363]:
list_btn=driver.find_element(By.XPATH,'/html/body/div[3]/div[1]/div[3]/ul/li[4]/a')
list_btn.click()

In [364]:
cars_btn=driver.find_element(By.XPATH,'/html/body/div[2]/div[9]/div[1]/div[1]/div/div/div[1]/div/div[1]/h3/a')
cars_btn.click()

In [365]:
#model name
model=[]
model_tags=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in model_tags[0:50]:
    model.append(i.text)
model

['Drako GTE',
 'De Tomaso P72',
 'Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Ferrari FXX K Evo',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Pagani Huayra Roadster BC',
 'Bugatti Chiron Pur Sport',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*']

In [366]:
driver.close()